:root {
  --bg-color-prim: #fbfbfe;

  --Bg-color-sec: #f8f5f8;
  --sec-border: #dee2e6;

  --Bg-color-ter: #eae6f8;
  --ter-border: #bfa9e4;

  --Bg-color-qua: #cfcfcf;

  /*   --second-gray: #181622; */

  --main-Font: #15163d;
  --main-Font-inverter: #f8f8f8;

  --hover-links: #15e8ff;

  --box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

  --Bg-body: #ebebeb;

  --Widget: linear-gradient(to right, #ffffff, #e9e4fc);
  --font-gradient: #9a91ac;

  /* Home */
  --home-rosa:#FF4D8B;
  --home-aqua: #00e8d2;
  --home-naranja:#fa9303; 
  --home-rojo: #ff4027;
  --home-dark:#081329;
  
   
}

/* Estilo oscuro */
.dark-mode {
  --bg-color-prim: #13111c;

  --Bg-color-sec: #0b1428;
  --sec-border: #183367;

  --Bg-color-ter: #1e132a;
  --ter-border: #3d2259;

  --main-Font: #f8f8f8;
  --main-Font-inverter: #15163d;

  --box-shadow: 0 4px 16px rgba(255, 255, 255, 0.2);
  --Bg-body: #07070c;

  --Widget: linear-gradient(to right, #1e132a, #3d2259);
}


body { 
   scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;

  scrollbar-width: none;
  scrollbar-color: red;
}

#app {
  width: 100%;
  height: 100vh;
/*   overflow-y: auto; */
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth !important;
}